{{  test }}
<paging>
<div class="row">
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="Servers">
        <a href="#abc">Manage</a>
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr ng-repeat="x in userName"><td>{{x.Name}}</td><td>{{x.City}}</td><td><span class="text-success"><i ng-class="x.Country"></i></span></td></tr>
              </tbody>
            </table>
        </div>      
      </rd-widget-body>
      <rd-widget-footer>
        <ul class="pagination pagination-sm pull-right" num-pages="tasks.pageCount" current-page="tasks.currentPage" on-select-page="selectPage(page)">
          <li ng-class="{disabled: noPrevious()}"><a href="#" ng-click="selectPrevious()">&laquo;</a></li>
          <li ng-repeat="page in pages" ng-class="{active: isActive(page)}"><a href="#" ng-click="selectPage(page)">{{page}}</a></li>
          <li ng-class="{disabled: noNext()}"><a href="#" ng-click="selectNext()">&raquo;</a></li>
        </ul>
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
  </div>
  </paging>
  <pagings>
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="Striped Servers">
        <a href="#">Manage</a>
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
              <tbody>
                <tr ng-repeat="x in userName"><td>{{x.Name}}</td><td>{{x.City}}</td><td><span class="text-success"><i ng-class="x.Country"></i></span></td></tr>
              </tbody>
          </table>
        </div>
      </rd-widget-body>
      <rd-widget-footer>
        <!-- <ul class="pagination pagination-sm pull-right" num-pages="tasks.pageCount" current-page="tasks.currentPage" on-select-page="selectPages(page)">
          <li ng-class="{disabled: noPreviouss()}"><a href="#" ng-click="selectPreviouss()">&laquo;</a></li>
          <li ng-repeat="page in pages" ng-class="{active: isActives(page)}"><a href="#" ng-click="selectPages(page)">{{page}}</a></li>
          <li ng-class="{disabled: noNexts()}"><a href="#" ng-click="selectNexts()">&raquo;</a></li>
        </ul> -->
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
  </div>
  </pagings>
</div>